BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 2.080000 MHz ;
LOCATE COMP "LEDs[0]" SITE "52" ;
LOCATE COMP "LEDs[1]" SITE "54" ;
LOCATE COMP "LEDs[2]" SITE "55" ;
LOCATE COMP "LEDs[3]" SITE "56" ;
LOCATE COMP "LEDs[4]" SITE "57" ;
LOCATE COMP "LEDs[5]" SITE "58" ;
LOCATE COMP "LEDs[6]" SITE "59" ;
LOCATE COMP "MOSI" SITE "112" ;
LOCATE COMP "sel[0]" SITE "42" ;
LOCATE COMP "sel[1]" SITE "43" ;
LOCATE COMP "sel[2]" SITE "44" ;
LOCATE COMP "MISO" SITE "142" ;
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "MISO" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[5]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "LEDs[6]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MOSI" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "adc_reset" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "sel[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "sel[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "sel[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 SLEWRATE=SLOW ;
LOCATE COMP "reset" SITE "143" ;
LOCATE COMP "SCK" SITE "113" ;
LOCATE COMP "adc_reset" SITE "114" ;
